<% layout('/layouts/boilerplate') %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">

    <h3>Edit Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
 

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" placeholder="Title" class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
            <div class="invalid-feedback">Please enter valid title</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        </div>

        
        <div class="mb-3">
            Original Image: <br>
            <img src="<%= OriginalImageUrl %>" alt="old image">
        </div>
    
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" name="listing[image]"   class="form-control" >
        </div>
           
               <div class="row">
                <div class="col-md-4">
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" value="<%= listing.price %>" placeholder="Price" class="form-control" required>
                    <div class="valid-feedback">Price looks good</div>
                    <div class="invalid-feedback">Please enter valid price</div>
                </div> 
            </div>

            <div class="col-md-8">
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%= listing.location %>" placeholder="Location" class="form-control" required>
                    <div class="valid-feedback">Location looks good</div>
                    <div class="invalid-feedback">Please enter valid location</div>
                </div>
            </div>
            </div>


            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%= listing.country %>" placeholder="Country" class="form-control" required>
                <div class="valid-feedback">Country looks good</div>
                <div class="invalid-feedback">Please enter Country</div>
                
            </div>
        

        
    <div>
        <a href="/listings/<%= listing._id %>" class="btn btn-dark back-btn " style="margin-bottom: 3rem;">Back</a>
        <button class="btn btn-dark edit-btn mt-3 " style="margin-bottom: 4rem;">Update</button>
    </div>
    
    </form>

    </div>
    </div>
    
      
    
</body>
